{% extends 'base.html.twig' %}
{% block body %}
    <h2>Ceci est la page d'accueil du site Bucket - List </h2>
    <p>TP du cours sur Symfony </p>
{% endblock %}

{% block title %}Home | {{ parent() }}{% endblock %}